<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-5">Dashboard</div>
    <div class=" shadow p-3 ">
      <div class=" text-center">
        <main class="main-container">
          <div class="main-title">
            <p class="font-weight-bold">Statistics</p>
          </div>
          <div class=" project wrapper">
              <div class="row d-flex justify-content-between ">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4 text-center">
                        <div class="">Completed Tasks</div>
                        <div class="card-body">100</div>
                        <div>Task Count</div>
                      
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-secondary text-white mb-4 text-center">
                        <div class="">In-completed Tasks</div>
                        <div class="card-body">100</div>
                        <div>Task Count</div>
                      
                    </div>
                </div>
                <div class="col-xl-2 col-md-6">
                    <div class="card bg-danger text-white mb-4 text-center">
                        <div class="">Overdue Tasks</div>
                        <div class="card-body">100</div>
                        <div>Task Count</div>
                      
                    </div>
                </div>
                <div class="col-xl-2 col-md-6">
                    <div class="card bg-success text-white mb-4 text-center">
                        <div class="">Total Tasks</div>
                        <div class="card-body">100</div>
                        <div>Task Count</div>
                      
                    </div>
                </div>
                <div class="col-xl-2 col-md-6">
                    <div class="card bg-white text-black mb-4 text-center">
                        <div class="">Calender</div>
                        <div class="card-body">date</div>
                        <div>Time</div>
                      
                    </div>
                    
                      <div class="title member mb-2">
                        <p class="font-weight-bold text-dark">Meetings</p>
                        <div class="card p-0">
                          <div class="card-body">
                            <p>Meetings With PSC</p>
                          </div>
                        </div>
                      </div>
                </div>
                
                
                  <!--  -->
             </div>
             <div class="main-title">
              <p class="font-weight-bold">Projects</p>
            </div>
            <div class="row d-flex">
              <div class="col-xl-4 col-md-6">
                <div class="card bg-white text-white mb-4 text-center">
                    <div class="text-dark">
                      <h6>Task Management System</h6>
                      <p>Employee Panel Design - UI/UX </p>
                    </div>
                    <div class="card-body d-flex justify-content-evenly">
                      <div class="dropdown m-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </button>
                        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item" type="button">Action</button>
                          <button class="dropdown-item" type="button">Another action</button>
                          <button class="dropdown-item" type="button">Something else here</button>
                        </div>
                      </div>
                      <div class="dropdown m-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </button>
                        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item" type="button">Action</button>
                          <button class="dropdown-item" type="button">Another action</button>
                          <button class="dropdown-item" type="button">Something else here</button>
                        </div>
                      </div>
  
                    </div>
                    <div>Task Count</div>
                </div>
            </div>
              <div class="col-xl-4 col-md-6">
                <div class="card bg-white text-white mb-4 text-center">
                  <div class="text-dark">
                    <h6>Task Management System</h6>
                    <p>Employee Panel Design - UI/UX </p>
                  </div>
                  <div class="card-body d-flex justify-content-evenly">
                    <div class="dropdown m-2">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </button>
                      <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                      </div>
                    </div>
                    <div class="dropdown m-2">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </button>
                      <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                      </div>
                    </div>
  
                  </div>
                  <div>Task Count</div>
              </div>
            </div>
              <div class="col-xl-4 col-md-6">
                <div class="card bg-white text-white mb-4 text-center">
                  <div class="text-dark">
                    <h6>Task Management System</h6>
                    <p>Employee Panel Design - UI/UX </p>
                  </div>
                  <div class="card-body d-flex justify-content-evenly">
                    <div class="dropdown m-2">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </button>
                      <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                      </div>
                    </div>
                    <div class="dropdown m-2">
                      <button class="btn btn-secondary dropdown-bs-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </button>
                      <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                      </div>
                    </div>
  
                  </div>
                  <div>Task Count</div>
              </div>
              </div>
           <div class="main-title">
              <p class="font-weight-bold">Todays Tasks</p>
            </div>
            <div class="col-xl-6 col-md-6">
              <div class="card bg-White text-black mb-4 text-center">
                <div class="row">
                  <div class="col-md-6 ">Task Management System</div>
                <div class=" col-md-6">11 am to 4pm</div>
                </div>
                
              </div>
            </div>
            <div class="col-xl-6 col-md-6">
              <div class="card bg-white text-black mb-4 text-center">
                  <div class="row">
                    <div class="col-md-6 ">Task Management System</div>
                  <div class=" col-md-6">11 am to 4pm</div>
                  </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-6">
              <div class="card bg-white text-black mb-4 text-center">
                  <div class="row">
                    <div class="col-md-6 ">Task Management System</div>
                  <div class=" col-md-6">11 am to 4pm</div>
                  </div>
              </div>
            </div>
            </div>
              <!-- <div class="row right">
                  <div class="col-xl-12 col-md-6">
                    <div class="card  text-red mb-4">
                        <div class="card-body">Calender</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
              </div> -->
          </div>
         
  
          <!-- <div class="main-cards">
  
            <div class="card">
              <div class="card-inner">
                <p class="text-primary">PRODUCTS</p>
                <span class="material-icons-outlined text-blue">inventory_2</span>
              </div>
              <span class="text-primary font-weight-bold">249</span>
            </div>
  
            <div class="card">
              <div class="card-inner">
                <p class="text-primary">PURCHASE ORDERS</p>
                <span class="material-icons-outlined text-orange">add_shopping_cart</span>
              </div>
              <span class="text-primary font-weight-bold">83</span>
            </div>
  
            <div class="card">
              <div class="card-inner">
                <p class="text-primary">SALES ORDERS</p>
                <span class="material-icons-outlined text-green">shopping_cart</span>
              </div>
              <span class="text-primary font-weight-bold">79</span>
            </div>
  
            <div class="card">
              <div class="card-inner">
                <p class="text-primary">INVENTORY ALERTS</p>
                <span class="material-icons-outlined text-red">notification_important</span>
              </div>
              <span class="text-primary font-weight-bold">56</span>
            </div>
  
          </div> -->
  
          <!-- <div class="charts">
  
            <div class="charts-card">
              <p class="chart-title">Top 5 Products</p>
              <div id="bar-chart"></div>
            </div>
  
            <div class="charts-card">
              <p class="chart-title">Purchase and Sales Orders</p>
              <div id="area-chart"></div>
            </div>
  
          </div> -->
          <footer>
            <div class="row mt-5 footer p-3">
              <div class="col-xl-12 col-md-6 d-flex justify-content-center">
                <h6>© 2023 All rights reserved by BacBon Limited</h6>
              </div>
            </div>
          </footer>
        </main>
      </div>
    </div>
  </div>