<div class="container-fluid page mt-5">
    <div class="d-flex page__box p-3 mt-2">Tasks</div>
    <div class=" shadow p-3 ">
      <div class=" text-center">
        <main class="main-container">
            <div class="main-title">
                <p class="font-weight-bold">Task Details</p>
            </div>
            
            <div class=" details wrapper">
                <div class="row d-flex wrapper">
                    <div class="col-xl-5 col-md-6 mb-2">
                      <div class="card p-0">
                       <div class="text-end">
                        <label for="time" class="time">Deadline:14th April</label>
                       </div>
                        <div class="row detail">
                            <div class="card-body col-xl-4">
                                <div>
                                    <p>Created By:</p>
                                    <p>Supervisor:</p>
                                  </div>
                            </div>
                            <div class="card-body content col-xl-8">
                                <div>
                                    <h6>Task Management System</h6>
                                    <p>Client: BacBon Limited</p>
                                    <p>Task management is more than a to-do list. It means tracking tasks from beginning to end, delegating subtasks to teammates, and setting deadlines to make sure projects get done on time.</p>
                                    <p>This project started at 15 March and will end in 14 April. Farin, Eashen & Heemel are working on this project.</p>
                                    <p>Supervisor:</p>
                                  </div>
                            </div>
                        </div>
                      </div>
                  </div>
                    <div class="col-xl-5 col-md-6 mb-2">
                      <div class=" stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Line chart</h4>
                            <canvas id="lineChart"></canvas>
                          </div>
                        </div>
                      </div>
                  </div>
                    <div class="col-xl-2 col-md-6 ">
                      <div class="title member mb-2">
                        <p class="font-weight-bold text-dark">MemBers</p>
                        <div class="card">
                          <div class="card-body">
                            <p>Saklain Bari</p>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
          
            <div class="information">
              <div class="row">
                <div class="col-xl-6 col-md-6 comments">
                    <div class="main-title">
                        <p class="font-weight-bold">Comments</p>
                    </div>
                    <div class="card">
                        <input type="text" placeholder="Add a comment">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 attachment">
                    <div class="main-title">
                        <p class="font-weight-bold">Attachments</p>
                    </div>
                    <div class="card">
                        <input type="text" placeholder="Upload">
                        <div>
                            <button class="btn btn-primary mt-5">Upload</button>
                        </div>
                    </div>
                    
                </div>
              </div>
            </div>
            
            <!-- Table with panel -->
           
     
          </main>
      </div>
    </div>
  </div>
